.footer-body{
  background-color: #193385;
}
footer p {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
.top-button {
  width: 100px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
