// ------------------------------------------------------------------
header{height: 120px;}
// ------------------------------------------------------------------
.header-top {
  @include flexbox;
  background-color: #193385;
}

.header-top__img {
  margin-top: 1px;
  margin-left: 10px;
  z-index: 900;
}
.header-top__img:hover{
  animation: enot 5s ease infinite;
}

@keyframes enot {
 0% { @include rotate(0deg); }
 12%{ @include rotate(40deg); }
 50%{@include rotate(-360deg);}
 70%{@include rotate(10deg);}
 100%{@include rotate(-360deg);}
}

.header-top__txt {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  margin-left: 60px;
}
.header-top__small-txt{
  display: none;
}

.header-bottom {
  @include flexbox;
  padding: 10px 0;
  background-color: #fff;
}

.header-bottom__item {
  display: block;
  margin-left: 20px;
  color: #000;
}
.header__burger{
  display: none;
}

.header-bottom-link{
  display: inline-block;
}

@media(max-width: $md2+px){
  .wrapper{
    width: 100%;
  }
  .lock{
    overflow: hidden;
  }
  .container{
    max-width: 120%;
  }
  header{height: 400px;}
  .header-top {
    max-width: 150%;
    position: fixed;
    height: 100px;
    @include flexbox;
    background-color: #193385;
    z-index: 800;
  }

  .header-top__img {
    margin-top: 18px;
    margin-left: 35px;
    position: relative;
    z-index: 50;
    transition: all 0.3s ease;
  }

  .header-top__txt {
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
    margin-left: 50px;
  }

  .header__burger{
    display: block;
    position: relative;
    height: 30px;
    width: 50px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 40px;
    display: block;
    z-index: 900;
  }
  .header__burger:before{
    content:'';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    background-color: #fff;
    transition: all 0.3s ease;
    @include anim(0.3s,0s);
  }
  .header__burger:after{
    content:'';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    @include anim(0.3s,0s);
  }

  .header__burger span{
    width: 100%;
    height: 5px;
    position: absolute;
    top: 12.1px;
    left: 0;
    background-color: #fff;
    @include anim(0.3s,0s);
  }

  .header__burger_active{
    display: block;
    position: fixed;
    height: 100px;
    width: 100px;
    top: 0;
    right: 0;
    display: block;
    z-index: 50;
  }
  .header__burger_active:before{
    content:'';
    width: 100%;
    height: 12px;
    position: absolute;
    top: 40px;
    background-color: #000;
    @include rotate(45deg);
  }
  .header__burger_active:after{
    content:'';
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 50px;
    background-color: #000;
    @include rotate(-45deg);
  }

  .header__burger_active span{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 12.1px;
    left: 0;
    background-color: #000;
    @include scale(0);
  }


  .header-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: -120vh;
    @include anim(0.3s,0s);
    z-index: 0;
  }
  .header-bottom_active{
    margin-top: 0;
    position: fixed;
  }
  .header-top__img_active {
    margin-top: 18px;
    margin-left: 50vw;
    position: fixed;
    z-index: 50;
    height: 100px;
    width: 100px;
  }
  .header-bottom-link{
    display: block;
    margin-left: 5vw;
    margin-top: 100px;
  }
  .header-bottom-link:nth-child(1){
    margin-top: 300px;
  }

  .header-bottom__item {
    text-align: center;
    font-size: 60px;
    margin-left: 40vw;
    display: block;
    margin-left: 20px;
    color: #000;
  }
}
@media(max-width: $md3+px){
  .container{
    max-width: 100%;
  }
  header{height: 400px;}
  // header{height: 200px;}
  .header-top {
    height: 100px;
    width: 100vh;
    @include flexbox;
    background-color: #193385;
  }

  .header-top__img {
    margin-top: 18px;
    margin-left: 35px;
    position: relative;
    z-index: 50;
    transition: all 0.3s ease;
  }

  .header-top__txt {
    display: none;
  }
  .header-top__small-txt{
    display: block;
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
    margin-left: 50px;
  }

  .header__burger{
    display: block;
    position: relative;
    height: 30px;
    width: 50px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: block;
    z-index: 50;
  }
  .header__burger:before{
    content:'';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header__burger:after{
    content:'';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .header__burger span{
    width: 100%;
    height: 5px;
    position: absolute;
    top: 12.1px;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .header__burger_active{
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: block;
    z-index: 50;
  }
  .header__burger_active:before{
    content:'';
    width: 100%;
    height: 12px;
    position: absolute;
    top: 40px;
    background-color: #000;
    @include rotate(45deg);
  }
  .header__burger_active:after{
    content:'';
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 50px;
    background-color: #000;
    @include rotate(-45deg);
  }

  .header__burger_active span{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 12.1px;
    left: 0;
    background-color: #000;
    @include scale(0);
  }


  .header-bottom {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin-top: -180vh;
    transition: all 0.3s ease;
  }
  .header-bottom_active{
    margin-top: -100px;
  }
  .header-top__img_active {
    margin-top: 18px;
    margin-left: 50vw;
    position: absolute;
    z-index: 50;
    height: 100px;
    width: 100px;
  }
  .header-bottom-link{
    display: block;
    margin-left: 5vw;
    margin-top: 60px;
  }
  .header-bottom-link:nth-child(1){
    margin-top: 150px;
  }

  .header-bottom__item {
    text-align: center;
    font-size: 60px;
    margin-left: 40vw;
    display: block;
    margin-left: 20px;
    color: #000;
  }
}











// .header-menu__icon{
//   display: block;
//   position: absolute;
//   top: 18px;
//   right: 10px;
//   width: 30px;
//   height: 18px;
//   cursor: pointer;
//   z-index: 5;
//   span{
//   @include anim(0.3s,0s);
//   top: 8px;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   background-color: #000;
//     &:first-child{top: 0px;}
//     &:last-child{top: auto; bottom: 0px;}
//   }
//   &.active{
//     span{@include scale(0);
//       &:first-child{@include rotate(-45deg);top: 8px;}
//       &:last-child{@include rotate(45deg);top: 8px;}
//     }
//   }
// }
