@import 'reset_css';
@import 'fonts';
@import 'mixin';
@import 'var';

// Основная сетка
  .container{
    max-width: $mw+px;margin: 0 auto;width: 100%;
    @media(max-width: $md1+px){max-width: 970px;}
    @media(max-width: $md2+px){max-width: 767px;}
    @media(max-width: $md3+px){width: 100%;}
  }
// --------------------------------------------


// Подключение фалов стилей страниц и флементов
  @import"header";
  @import"footer.scss";
  // @import "custom_checkbox.scss";
// --------------------------------------------




// Освновной блок
  body{
    background: url("../img/background.png");
    font-family: 'Roboto Condensed', sans-serif;
  }
  .wrapper{
    width: auto;
  }
  @media (max-width:767px) {
    .wrapper{
      width: auto;
    }
  }
// Положение слайдера
  .slider {
  margin-top: -20px;
  height: 60vh;
}
// Адоптация слайдера
  @media(max-width:$md2+px){
    .slider {
    margin-top: -300px;
    }
  }
  @media(max-width:$md3+px){
    .slider {
    height: 30vh;
    }
  }
// Отключение всех ненуужных частей слайдера
.slider__item {
  display: none;
}
// Размер картинки слайдера
.slider__item-img {
  height: 60vh;
  width: 90vw;
  object-fit: cover;
}
// Анимация переключения слайдов
.slider_fade{
  -webkit-animation:fade 0.2s ;
  -moz-animation:fade 0.2s ;
  -ms-animation:fade 0.2s ;
  -o-animation:fade 0.2s ;
  animation:fade 0.2s ;
}
@-webkit-keyframes fade {
    from{filter:brightness(40%);}
    to{filter:brightness(100%);}
}
@keyframes fade {
    from{filter:brightness(40%);}
    to{filter:brightness(100%);}
}
// Адоптация картинки слайдера
@media(max-width:$md2+px){
  .slider__item-img {
    height: 90vh;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
  }
}
// Редактирование кнопки для слайдера
.slider__item-link {
  position: absolute;
  margin-top: -100px;
  margin-left: 20px;
  font-size: 25px;
  color: #fff;
  background-color: #193385;
  padding: 10px 2px 10px 2px;
  border-radius: 5px;
  -webkit-transition:0.1s ease;
  -moz-transition:0.1s ease;
  -o-transition:0.1s ease;
  transition:0.1s ease;
}
// Стилизация кнопки для слайдера при наведении
.slider__item-link:hover {
  color: black;
  background-color: #fff;
  font-size: 30px;
  box-shadow: 3px 5px rgba(0,0,0,0.7);
}
// Адоптация кнопки для слайдера
@media(max-width:$md3+px){
  slider__item-link {
    font-size: 35px;
  }
}
.hide{
  display: none;
}
// Коробочка для стрелочек
.nav-arrows {
  width: 100%;
  @include flexbox;
  justify-content: space-between;
  color: #fff;
  font-size: 50px;
  z-index: 60;
  margin-top: -30vh;
  font-weight: bold;
}

@media(max-width:992px){
  .nav-arrows {
  margin-top: -45vh;
  }
}
// Стилизация левой стрелочки
.nav-arrows__prev {
  margin-left: 20px;
  @include anim(0.3s,0s);
}
// Стилизация правой стрелочки
.nav-arrows__next {
  margin-right: 20px;
  @include anim(0.3s,0s);
}
// Стилизация стрелок при наведении
.nav-arrows__prev:hover,.nav-arrows__next:hover{
  background-color: #ccc;
  padding: 10px;
  margin-top: -10px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
}
// // Коробочка для точек слайдера
// .dot-box {
//   @include flexbox;
//   width: 100%;
//   justify-content: center;
//   margin-top: 90px;
// }
// // Адаптация контейнера точек: прячеться при размере экрана меньше 800px
// @media(max-width:992px){
// .dot-box {
//     display: none;
//   }
// }
// // Адаптация внешнего вида точки
// .dot {
//   height: 20px;
//   width: 20px;
//   background-color: #ccc;
//   border-radius: 50%;
//   margin-left: 5px;
//   -webkit-transition:0.1s ease;
//   -moz-transition:0.1s ease;
//   -o-transition:0.1s ease;
//   transition:0.1s ease;
// }
// // Адаптация внешнего вида точки при наведении
// .dot:hover{
//   background-color: #5C5C5F;
//   height: 25px;
//   width: 25px;
// }
// // Стилизация активной точки
// .dot_active{
//   background-color: #242424;
// }

.news{
  background-color: #fff;
  // @include flexbox;
  // flex-direction: column;
  // width: 100%;
  // align-items: center;
}
@media(max-width:$md2+px){
  .news{
    margin-top: 30vh;
  }
}
@media (max-width:767px) {
  .news{
    margin-top: 60vh;
  }
}

.news__title{
  font-size: 30px;
  font-weight:450;
  text-align: center;
  padding: 10px 0;
}
@media (max-width:920px) {
  .news__title{
    font-size: 40px;
  }
}


.news__section {
  @include flexboxline;
  flex-direction: column;
  align-items: center;
  width: 310px;
  // width: 95%;
  margin: 0 0 0 10px;
  vertical-align: top;
  border: 1.5px dashed #ccc;
}
@media(max-width:984px){
  .news__section {
    width: 95%;
    margin-top: 10px;
  }
}
// @media(max-width:966px){
//   .news_last_child_odd{
//   margin-top: 20px;
//   margin-left: 30%;
//   }
// }
// @media(max-width:778px){
//   .news_last_child_odd{
//   margin-top: 10px;
//   margin-left: 10%;
//   }
// }
.news__img {
  width: 100%;
  object-fit: cover;
}


.news__date {
  margin-top: 10px;
  font-weight: bold;
}

.news__subtitle {
  padding: 10px;
  text-align: justify;
}

.partners{
  background-color: #fff;
}
.partners__title{
  text-align: center;
  padding: 10px 0;
}
.partners__img {
  display: inline-block;
  width: 150px;
  // margin: 50px 85px;
  margin: 15% 0 10% 15%;
  // margin: 15% 0 10% 20%;
}
@media(max-width:833px){
  .partners__img {
    margin: 15% 0 10% 20%;
  }
}

@media(max-width:833px){
  .partners__img {
    margin: 15% 0 10% 20%;
  }
}

@media(max-width:506px){
    .partners{
      @include flexbox;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
}
// margin-top: 30vh;
// --------------------------------------------
