*{
  padding: 0;/*Во всех тегах отключены внутренние отступы*/
  margin: 0;/*Во всех тегах отключены внешние отступы*/
  border: 0;/*Выключены границы у всех тегов*/
}
*, *:before, *:after{
  -moz-box-sizing: border-box;/*Для Firefox cвойства width и height будут включать в себя значения полей и границ, но не отступов (margin).*/
  -webkit-box-sizing: border-box;/*Для Safari и Chrome cвойства width и height будут включать в себя значения полей и границ, но не отступов (margin)*/
  box-sizing: border-box;/*для всех остальных браузеров cвойства width и height будут включать в себя значения полей и границ, но не отступов (margin)*/
}
:focus, :active{outline:none;}/*Отключает обводку, которая возникает у некоторых браузеров*/
nav,footer,header,aside{display:block;}/*Делает блочными данные теги, для того чтобы к ним применялись блочные свойства(height,,max-width,min-width)*/
html,body{
  height: 100%;/*Чтобы страница занимала 100% от высоты окна браузера*/
  width: 100%;/*Чтобы страница занимала 100% от ширины окна браузера*/
  font-size:100%;/*Устанавливает стандартный размер текста*/
  line-height: 1;/*Устанавливает межстрочный интервыл на 1 для всех тегов*/
  scroll-behavior: smooth;/*Плавная прокрутка сайта*/
  text-rendering: optimizeSpeed;/*При загрузке текста приоритет идет на скорость*/
  -ms-text-size-adjust:100%;/*На большенстве браузеров для телефонов будет стоять стандартный размер текста*/
  -moz-text-size-adjust:100%;/*На браузере Firefox для телефонов будет стоять стандартный размер текста*/
  -webkit-text-size-adjust:100%;/*На браузерах Safari и Chrome для телефонов будет стоять стандартный размер текста*/
}
input,button,textarea{font-family:inherit;}/*Стиль текста кнопок и полей будет зависить от тега-родителя, в котором он(и) находи(я)ться*/
input::-ms-clear{display: none;}/*Значек очистки поля, который появляеться при введение в него чего-нибудь ,спрятан*/
button{cursor: pointer;}/*Для всех кнопок курсор обьявлен как указывающая рука*/
button::-moz-focus-inner{
  /*У кнопок в Firefox нестандартный вид*/
  padding:0;/*Убирает специфические внутренние отступы у копок Firefox*/
  border:0;/*Убираетт обводку у кнопок Firefox*/
}
a,a:visited{text-decoration: none;}/*Сылки становяться без нижнего подчеркивания*/
a:hover{text-decoration: none;}/*При наведении на ссылки тоже не будет подчеркивания*/
a:not([class]) {
  text-decoration-skip-ink: auto;/*Для всех элементов, которые не ссылки, при подчеркивании прерываеться на буквах, которые пересекают подчеркивание*/
}
table{
border-collapse:collapse;/*при стыке ячеек таблицы одна линия */
border-spacing:0;/*расстояние между границами ячеек нет*/
}
ul li{list-style: none;}/*Убираються значки пунктов в списке*/
img{
  vertical-align: top;/*Выравнивание верхнего края изображения по верху самого высокого элемента строки*/
  max-width: 100%;/*По стандарту изображение будет размером с файл изображения*/
  display: block;/*Блочные изображения легче редактировать*/
  }
h1,h2,h3,h4,h5,h6{
  font-size:inherit;/*Размер текста заголовков зависит от размера блока, в котором находиться заголовок*/
  font-weight: inherit;/*Насыщенность текста ставиться в зависимости от плотности блока, в котором находиться заголовок*/
}

.ibg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img{display: none;}
}
